body {
    font-family: Arial, Helvetica, sans-serif;
}

#skin-json {
    display: block;
    height: 300px;
    width: 300px;
}

#skins-generator .content {
    display: flex;
    justify-content: space-evenly;
}

.star-button {
    align-self: center;
}

#homepage header {
    display: flex;
    justify-content: space-evenly;
}